// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

a.navbar-toggler:hover {
    border-color: black;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

a.navbar-brand {
    padding: 0px 40px 0px 0px;
}

.nav-fill {
    display: none;
}

.custombar {
    max-width: 768px;
}

#orderForm {
    max-width: 768px;
}

@include media-breakpoint-up(md) {
    .nav-fill {
        display: flex;
    }

    a.navbar-brand {
        padding: 0px 0px 0px 160px;
    }

}