// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

a.navbar-toggler:hover {
    border-color: black;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

a.navbar-brand {
    transform: translateX(90px)
}


#currentOrders {
    margin-top: 6%;
}